<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>bird1_</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>bird1_0001.png</string>
				<string>bird1_0002.png</string>
				<string>bird1_0003.png</string>
			</array>
		</dict>
		<key>bird2_</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>bird2_0001.png</string>
				<string>bird2_0002.png</string>
				<string>bird2_0003.png</string>
			</array>
		</dict>
		<key>lvpi_</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>lvpi_0001.png</string>
				<string>lvpi_0002.png</string>
			</array>
		</dict>
		<key>ef_bianpao_</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>ef_bianpao_0001.png</string>
				<string>ef_bianpao_0002.png</string>
				<string>ef_bianpao_0003.png</string>
				<string>ef_bianpao_0004.png</string>
				<string>ef_bianpao_0005.png</string>
				<string>ef_bianpao_0006.png</string>
				<string>ef_bianpao_0007.png</string>
				<string>ef_bianpao_0008.png</string>
				<string>ef_bianpao_0009.png</string>
				<string>ef_bianpao_0010.png</string>
				<string>ef_bianpao_0011.png</string>
				<string>ef_bianpao_0012.png</string>
				<string>ef_bianpao_0013.png</string>
				<string>ef_bianpao_0014.png</string>
			</array>
		</dict>
		<key>qilin_</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>qilin_0001.png</string>
				<string>qilin_0002.png</string>
				<string>qilin_0003.png</string>
				<string>qilin_0004.png</string>
				<string>qilin_0005.png</string>
				<string>qilin_0006.png</string>
				<string>qilin_0007.png</string>
				<string>qilin_0008.png</string>
				<string>qilin_0009.png</string>
				<string>qilin_0010.png</string>
				<string>qilin_0011.png</string>
				<string>qilin_0012.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
