<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,802},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bird1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,763},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bird1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,737},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bird2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,752},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bird2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,752},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bird2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,960},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>caocong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{1024,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,138}}</string>
                <key>sourceSize</key>
                <string>{1024,138}</string>
            </dict>
            <key>diba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,320}}</string>
                <key>sourceSize</key>
                <string>{1024,320}</string>
            </dict>
            <key>lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,737},{346,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{346,81}}</string>
                <key>sourceSize</key>
                <string>{352,85}</string>
            </dict>
            <key>lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,627},{348,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{348,81}}</string>
                <key>sourceSize</key>
                <string>{352,85}</string>
            </dict>
            <key>lvpi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,737},{112,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,13}}</string>
                <key>sourceSize</key>
                <string>{112,13}</string>
            </dict>
            <key>lvpi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,960},{1,1}}</string>
                <key>offset</key>
                <string>{-56,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{113,12}</string>
            </dict>
            <key>qianjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,627},{882,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,108}}</string>
                <key>sourceSize</key>
                <string>{882,108}</string>
            </dict>
            <key>shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{1024,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,163}}</string>
                <key>sourceSize</key>
                <string>{1024,163}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,627},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,809},{149,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,49}}</string>
                <key>sourceSize</key>
                <string>{149,49}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,737},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>yun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,752},{76,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,17}}</string>
                <key>sourceSize</key>
                <string>{76,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54e4b68dacd6e9c1b124212c186994a$</string>
            <key>textureFileName</key>
            <string>loading_01.png</string>
        </dict>
    </dict>
</plist>
