<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accountLogin_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{223,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,55}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>accountLogin_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,490},{223,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,55}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>bindingAndLogin_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>bindingAndLogin_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,417},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>binding_old_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>binding_old_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>binding_return_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,533},{223,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{223,51}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>binding_return_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,265},{223,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{223,51}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>checkbox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,715},{49,49}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>checkbox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,639},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>createRole_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>createRole_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>fangwenluntan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,751},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>fangwenluntan_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,639},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>loginToOld_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>loginToOld_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>login_wx_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>login_wx_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,476},{223,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,55}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>quedingxieyi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,265},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>quedingxieyi_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,246},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>quedingxieyi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,188},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>role_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{263,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,151}}</string>
                <key>sourceSize</key>
                <string>{263,151}</string>
            </dict>
            <key>shiming_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,690},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>shurukuang0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{356,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,54}}</string>
                <key>sourceSize</key>
                <string>{356,54}</string>
            </dict>
            <key>svlist_arrow2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,122},{64,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{64,115}}</string>
                <key>sourceSize</key>
                <string>{70,121}</string>
            </dict>
            <key>svlist_arrow2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,56},{64,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,121}}</string>
                <key>sourceSize</key>
                <string>{70,121}</string>
            </dict>
            <key>tourist_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,586},{221,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{221,51}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>tourist_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,585},{221,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{221,51}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>zcxy_etys1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,752},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zcxy_etys2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,717},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zcxy_yhxy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,639},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zcxy_yhxy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,716},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zcxy_yszc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,638},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zcxy_yszc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,323},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zhengcexieyi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>zhengcexieyi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,304},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_04.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a0eb8c7f5b21f2fff976c7678d077d4$</string>
            <key>textureFileName</key>
            <string>loading_04.png</string>
        </dict>
    </dict>
</plist>
