<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fstation_2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{1136,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,603}}</string>
                <key>sourceSize</key>
                <string>{1136,603}</string>
            </dict>
            <key>Fstation_3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{1136,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,613}}</string>
                <key>sourceSize</key>
                <string>{1136,613}</string>
            </dict>
            <key>money_animation0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,712},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,712},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,712},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,570},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,570},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,570},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,428},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,428},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,428},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,286},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,286},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,286},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,144},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,144},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,144},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>money_animation0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>station_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{1136,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,588}}</string>
                <key>sourceSize</key>
                <string>{1136,588}</string>
            </dict>
            <key>station_1_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,854},{1136,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1136,184}}</string>
                <key>sourceSize</key>
                <string>{1136,190}</string>
            </dict>
            <key>station_3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,613}}</string>
                <key>sourceSize</key>
                <string>{1136,613}</string>
            </dict>
            <key>station_3_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1812},{1136,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,179}}</string>
                <key>sourceSize</key>
                <string>{1136,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rgb555a1_001.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2049e113fe38b9aa5b6cf7cf4958039e$</string>
            <key>textureFileName</key>
            <string>rgb555a1_001.png</string>
        </dict>
    </dict>
</plist>
