<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cemian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,244},{94,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,175}}</string>
                <key>sourceSize</key>
                <string>{94,175}</string>
            </dict>
            <key>haoyou_dingbulan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{303,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,75}}</string>
                <key>sourceSize</key>
                <string>{303,75}</string>
            </dict>
            <key>haoyou_dingbulan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,421},{3,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,46}}</string>
                <key>sourceSize</key>
                <string>{3,46}</string>
            </dict>
            <key>map_route_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{307,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,49}}</string>
                <key>sourceSize</key>
                <string>{307,49}</string>
            </dict>
            <key>map_route_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,244},{237,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,48}}</string>
                <key>sourceSize</key>
                <string>{237,48}</string>
            </dict>
            <key>map_route_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{204,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,48}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>map_route_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{11,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,48}}</string>
                <key>sourceSize</key>
                <string>{11,48}</string>
            </dict>
            <key>map_run_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,95},{303,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,49}}</string>
                <key>sourceSize</key>
                <string>{303,49}</string>
            </dict>
            <key>map_run_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{451,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,93}}</string>
                <key>sourceSize</key>
                <string>{451,93}</string>
            </dict>
            <key>map_run_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{206,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,48}}</string>
                <key>sourceSize</key>
                <string>{206,48}</string>
            </dict>
            <key>station_blue_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,95},{412,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,48}}</string>
                <key>sourceSize</key>
                <string>{412,48}</string>
            </dict>
            <key>station_blue_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{5,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,48}}</string>
                <key>sourceSize</key>
                <string>{5,48}</string>
            </dict>
            <key>top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{335,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,91}}</string>
                <key>sourceSize</key>
                <string>{335,91}</string>
            </dict>
            <key>zheng_zao.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,321},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>zj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rgba8888_004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3dc9897f975804cdc810dc9f52fb5e1$</string>
            <key>textureFileName</key>
            <string>rgba8888_004.png</string>
        </dict>
    </dict>
</plist>
