<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fstation_31_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{300,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,129}}</string>
                <key>sourceSize</key>
                <string>{300,129}</string>
            </dict>
            <key>marketstar0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{237,85}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{237,85}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,475},{251,85}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{251,85}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,935},{251,87}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{251,87}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,815},{251,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{251,89}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,633},{251,91}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{251,91}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,813},{251,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{251,89}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,633},{251,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{251,91}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{253,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{253,91}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,247},{251,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{251,89}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,95},{251,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{251,87}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,726},{251,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{251,87}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,303},{251,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{251,83}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,388},{251,85}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{251,85}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,216},{251,85}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{251,85}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>marketstar0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,726},{251,85}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{251,85}}</string>
                <key>sourceSize</key>
                <string>{263,99}</string>
            </dict>
            <key>station_11_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,133},{242,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,112}}</string>
                <key>sourceSize</key>
                <string>{242,112}</string>
            </dict>
            <key>station_21_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{202,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,136}}</string>
                <key>sourceSize</key>
                <string>{202,136}</string>
            </dict>
            <key>station_31_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{227,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,163}}</string>
                <key>sourceSize</key>
                <string>{227,163}</string>
            </dict>
            <key>station_32_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{148,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,613}}</string>
                <key>sourceSize</key>
                <string>{148,613}</string>
            </dict>
            <key>t100_1010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,560},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{290,30}</string>
            </dict>
            <key>t100_1010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,184},{290,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,30}}</string>
                <key>sourceSize</key>
                <string>{290,30}</string>
            </dict>
            <key>t1020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,418},{1,1}}</string>
                <key>offset</key>
                <string>{-21.5,22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>t1020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,95},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>t1020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,858},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>t1020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,133},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>t214_2150001.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,216},{1,1}}</string>
                <key>offset</key>
                <string>{-84.5,22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>t214_2150002.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,388},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>t214_2150003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,858},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>t214_2150004.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,216},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>t253_254_2550001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,798},{1,1}}</string>
                <key>offset</key>
                <string>{-111,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{223,78}</string>
            </dict>
            <key>t253_254_2550002.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,633},{223,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,78}}</string>
                <key>sourceSize</key>
                <string>{223,78}</string>
            </dict>
            <key>t253_254_2550003.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,633},{223,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,78}}</string>
                <key>sourceSize</key>
                <string>{223,78}</string>
            </dict>
            <key>t253_254_2550004.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,338},{223,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,78}}</string>
                <key>sourceSize</key>
                <string>{223,78}</string>
            </dict>
            <key>t2760001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,815},{1,1}}</string>
                <key>offset</key>
                <string>{-373.5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{748,59}</string>
            </dict>
            <key>t2760002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{746,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{746,59}}</string>
                <key>sourceSize</key>
                <string>{748,59}</string>
            </dict>
            <key>t278b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,815},{1,1}}</string>
                <key>offset</key>
                <string>{-56.5,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>t278b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,702},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>t278bm0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,815},{1,1}}</string>
                <key>offset</key>
                <string>{-56.5,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>t278bm0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,560},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>t278f0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,812},{1,1}}</string>
                <key>offset</key>
                <string>{-63.5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>t278f0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,388},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>t520001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,812},{1,1}}</string>
                <key>offset</key>
                <string>{-16.5,16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>t520002.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,818},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>t530001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,812},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>t530002.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,338},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>t540001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,560},{250,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,29}}</string>
                <key>sourceSize</key>
                <string>{250,29}</string>
            </dict>
            <key>t540002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,993},{250,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,29}}</string>
                <key>sourceSize</key>
                <string>{250,29}</string>
            </dict>
            <key>t540003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,904},{250,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,29}}</string>
                <key>sourceSize</key>
                <string>{250,29}</string>
            </dict>
            <key>t550001.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,812},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t550002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,518},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t56b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,320},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>t56b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,274},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>t56b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,143},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>t56s0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,854},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>t56s0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,854},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>t56s0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,518},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>t56s0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,818},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>t580001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,418}}</string>
                <key>sourceSize</key>
                <string>{419,418}</string>
            </dict>
            <key>t59_61_62_63_64_650001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,906},{95,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,228}}</string>
                <key>sourceSize</key>
                <string>{95,228}</string>
            </dict>
            <key>t59_61_62_63_64_650002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,906},{85,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,228}}</string>
                <key>sourceSize</key>
                <string>{95,228}</string>
            </dict>
            <key>tb600001.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,562},{133,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,69}}</string>
                <key>sourceSize</key>
                <string>{133,69}</string>
            </dict>
            <key>tb600002.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,189},{83,35}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{83,35}}</string>
                <key>sourceSize</key>
                <string>{133,69}</string>
            </dict>
            <key>ts600001.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>ts600002.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,475},{51,21}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{51,21}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rgba4444_002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f710771f7004d34c1d20897189ed1e$</string>
            <key>textureFileName</key>
            <string>rgba4444_002.png</string>
        </dict>
    </dict>
</plist>
