<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>house001_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{336,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,452}}</string>
                <key>sourceSize</key>
                <string>{336,452}</string>
            </dict>
            <key>house002_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,898},{336,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,304}}</string>
                <key>sourceSize</key>
                <string>{336,304}</string>
            </dict>
            <key>house003_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1653},{336,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,200}}</string>
                <key>sourceSize</key>
                <string>{336,200}</string>
            </dict>
            <key>house004_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1865},{336,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,222}}</string>
                <key>sourceSize</key>
                <string>{336,222}</string>
            </dict>
            <key>house005_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1641},{336,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,222}}</string>
                <key>sourceSize</key>
                <string>{336,222}</string>
            </dict>
            <key>house006_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1979},{280,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,219}}</string>
                <key>sourceSize</key>
                <string>{280,219}</string>
            </dict>
            <key>house007_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3757},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house008_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3520},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house009_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3552},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house010_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2488},{280,212}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{280,212}}</string>
                <key>sourceSize</key>
                <string>{280,222}</string>
            </dict>
            <key>house011_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3315},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house012_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2516},{281,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,209}}</string>
                <key>sourceSize</key>
                <string>{281,209}</string>
            </dict>
            <key>house013_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3347},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house014_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3142},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house015_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{336,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,222}}</string>
                <key>sourceSize</key>
                <string>{336,222}</string>
            </dict>
            <key>house016_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3110},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house017_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2905},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house018_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2727},{280,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,208}}</string>
                <key>sourceSize</key>
                <string>{280,208}</string>
            </dict>
            <key>house019_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1429},{336,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,222}}</string>
                <key>sourceSize</key>
                <string>{336,222}</string>
            </dict>
            <key>house020_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2543},{280,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,225}}</string>
                <key>sourceSize</key>
                <string>{280,225}</string>
            </dict>
            <key>house021_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2937},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house022_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2261},{280,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,230}}</string>
                <key>sourceSize</key>
                <string>{280,230}</string>
            </dict>
            <key>house023_3x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1204},{336,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,223}}</string>
                <key>sourceSize</key>
                <string>{336,223}</string>
            </dict>
            <key>house024_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2495},{281,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,203}}</string>
                <key>sourceSize</key>
                <string>{281,203}</string>
            </dict>
            <key>house025_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2303},{281,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,211}}</string>
                <key>sourceSize</key>
                <string>{281,211}</string>
            </dict>
            <key>house026_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,3867},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,202}</string>
            </dict>
            <key>house027_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1855},{281,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,217}}</string>
                <key>sourceSize</key>
                <string>{281,217}</string>
            </dict>
            <key>house028_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2700},{280,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,203}}</string>
                <key>sourceSize</key>
                <string>{280,203}</string>
            </dict>
            <key>house029_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2089},{281,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,212}}</string>
                <key>sourceSize</key>
                <string>{281,212}</string>
            </dict>
            <key>house030_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2288},{281,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,205}}</string>
                <key>sourceSize</key>
                <string>{281,205}</string>
            </dict>
            <key>house031_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2074},{281,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,212}}</string>
                <key>sourceSize</key>
                <string>{281,212}</string>
            </dict>
            <key>house032_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3568},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house033_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3867},{224,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,147}}</string>
                <key>sourceSize</key>
                <string>{224,147}</string>
            </dict>
            <key>house034_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3718},{224,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,147}}</string>
                <key>sourceSize</key>
                <string>{224,147}</string>
            </dict>
            <key>house035_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3412},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house036_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3418},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house037_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3262},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house038_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3112},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house039_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3268},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house040_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3118},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house041_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2962},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>house042_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2968},{224,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,148}}</string>
                <key>sourceSize</key>
                <string>{224,148}</string>
            </dict>
            <key>scenery001_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1096},{112,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,173}}</string>
                <key>sourceSize</key>
                <string>{112,173}</string>
            </dict>
            <key>scenery002_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1759},{112,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,133}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>scenery003_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1598},{112,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,159}}</string>
                <key>sourceSize</key>
                <string>{112,159}</string>
            </dict>
            <key>scenery004_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1271},{112,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,163}}</string>
                <key>sourceSize</key>
                <string>{112,163}</string>
            </dict>
            <key>scenery005_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1436},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>scenery006_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3962},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>scenery007_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,3962},{112,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>scenery008_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,3725},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
            <key>scenery009_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,426},{112,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,73}}</string>
                <key>sourceSize</key>
                <string>{112,73}</string>
            </dict>
            <key>scenery010_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,340},{84,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{84,75}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>scenery011_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,648},{42,65}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{42,65}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>scenery012_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,3725},{156,133}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{156,133}}</string>
                <key>sourceSize</key>
                <string>{224,151}</string>
            </dict>
            <key>scenery013_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,898},{112,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,196}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>scenery014_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1894},{224,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,161}}</string>
                <key>sourceSize</key>
                <string>{224,161}</string>
            </dict>
            <key>scenery015_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3562},{112,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>scenery016_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,692},{56,80}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{112,90}</string>
            </dict>
            <key>scenery017_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,540},{68,106}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>scenery018_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3725},{106,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>scenery019_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2120},{224,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,157}}</string>
                <key>sourceSize</key>
                <string>{224,157}</string>
            </dict>
            <key>scenery020_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2825},{225,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,141}}</string>
                <key>sourceSize</key>
                <string>{225,141}</string>
            </dict>
            <key>scenery021_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2346},{218,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,140}}</string>
                <key>sourceSize</key>
                <string>{224,142}</string>
            </dict>
            <key>scenery022_2x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,3860},{280,189}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{280,189}}</string>
                <key>sourceSize</key>
                <string>{280,197}</string>
            </dict>
            <key>scenery023_2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2770},{224,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,190}}</string>
                <key>sourceSize</key>
                <string>{224,190}</string>
            </dict>
            <key>scenery024_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{560,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,308}}</string>
                <key>sourceSize</key>
                <string>{560,308}</string>
            </dict>
            <key>scenery025_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{560,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{560,286}}</string>
                <key>sourceSize</key>
                <string>{560,288}</string>
            </dict>
            <key>scenery026_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{560,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,320}}</string>
                <key>sourceSize</key>
                <string>{560,320}</string>
            </dict>
            <key>scenery027_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,340},{556,381}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{556,381}}</string>
                <key>sourceSize</key>
                <string>{560,385}</string>
            </dict>
            <key>scenery028_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,358}}</string>
                <key>sourceSize</key>
                <string>{560,358}</string>
            </dict>
            <key>scenery029_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{560,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,357}}</string>
                <key>sourceSize</key>
                <string>{560,357}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rgba4444_000.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9e806de19122c7e0771e506e82f5c7$</string>
            <key>textureFileName</key>
            <string>rgba4444_000.png</string>
        </dict>
    </dict>
</plist>
